/* Retro Arcade Theme - 8-Bit Pixel Aesthetic */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.v-pagination--retro {
    --v-pagination-gap: 8px;
    --v-pagination-button-size: 2.4rem;
    --v-pagination-button-bg: #000000;
    --v-pagination-button-color: #33ff00;
    --v-pagination-button-border: 4px solid #33ff00;
    --v-pagination-button-radius: 0;

    --v-pagination-active-bg: #33ff00;
    --v-pagination-active-color: #000000;
}

.v-pagination--retro .v-pagination__button {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.75rem;
    image-rendering: pixelated;
    box-shadow:
        inset -4px -4px 0px 0px #22aa00,
        4px 4px 0px 0px #111111;
    transition: none;
    /* Instant arcade feel */
}

.v-pagination--retro .v-pagination__button:hover:not(:disabled) {
    background: #111 !important;
    transform: translate(2px, 2px);
    box-shadow: none;
}

.v-pagination--retro .v-pagination__button--active {
    background: #33ff00 !important;
    color: #000 !important;
    box-shadow: inset 4px 4px 0px 0px #22aa00;
}

.v-pagination--retro .v-pagination__button svg {
    width: 2rem;
    height: 2rem;
}